/* Education Section */
#Education{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.box{
    display: flex; 
    flex-direction: column;
    width: 400px;
    height: 500px;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top, rgb(245, 109, 172) 50%, white 50%);
    background-size: 100% 200%;
    transition: all 0.8s;

}
.box img{
    width: 80px;
    height: 80px;
    background-color: white;
    padding: 10px;
}